<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">

    <form th:action = "@{/mentor/confirm}" method="post" th:object="${mentor}">   <!--only one object for a form-->

        <label for="Firstname">First Name:</label>
        <input type="text" id="Firstname" th:field="*{firstname}"><br>  <!--get the input to the field ob object-->

        <label for="Lastname">Last Name:</label>
        <input type="text" id="Lastname" th:field="*{lastname}"><br>

        <label for="Email">Email:</label>
        <input type="email" id="Email" th:field="*{email}"><br>

        <label for="Company">Company:</label>
        <input type="text" id="Company" th:field="*{company}"><br>

        <label for="Graduated">Graduated:</label>
        <input type="checkbox" id="Graduated" th:field="*{graduated}"><br>

        <label>Gender:</label>
        <input type="radio" value="Male" th:field="*{gender}">Male
        <input type="radio" value="Female" th:field="*{gender}">Female<br>

        <label>Batch: </label>
        <select th:field="*{batch}">
            <option th:each="batch : ${batchList}" th:value="${batch}" th:text="${batch}"></option>
        </select><br>

        <button type="submit">Register</button>


    </form>
</div>



</body>
</html>